body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  width: 100%;
}

input {
  width: 10em;
}

.label {
  display: inline-block;
  width: 10em;
}