<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="" name="calculation" method="post">
  <div>
    <label class="label" for="bars">Bars for optimization</label>
    <textarea name="bars" id="bars" cols="30" rows="10"></textarea>
  </div>
  <div>
    <label class="label" for="minAllowBar">Minimum bar length</label>
    <input type="text" name="minAllowBar" id="minAllowBar">
  </div>
  <div>
    <label class="label" for="fullBar">Full bar length</label>
    <input type="text" name="fullBar" id="fullBar">
  </div>
  <div>
    <label class="label" for="sawWidth">Saw width</label>
    <input type="text" name="sawWidth" id="sawWidth">
  </div>
  <div>
    <label class="label" for="minAllowWaste">Minimum waste length</label>
    <input type="text" name="minAllowWaste" id="minAllowWaste">
  </div>
  <div>
    <label class="label" for="remnants">Remnants from previous cutting</label>
    <textarea name="remnants" id="remnants" cols="30" rows="10"></textarea>
  </div>
  <input type="submit" name="" id="">
</form>
</body>
</html>
